body {
  font-family: "Lexend Zetta", sans-serif;
}

h1 {
  color: white;
}

h3 {
  color: white;
  text-align: center;
  font-family: "Roboto Slab", serif;
}

.form-container {
  background: white;
}

.danger {
  color: red;
}
